<html>
<head>
    <title>Genusswerk | {{ rezept.titel }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Genusswerk | {{ rezept.titel }}</h1>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Hauptseite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('rezept_erfassen') }}">Rezept erfassen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row mt-3">
        <div class="col-md-6">
            <h2>{{ rezept.titel }}</h2>
            <p>Datum Erstellung: {{ rezept.datum_erstellung }}</p>
            <p>{{ rezept.beschreibung }}</p>
            <h3>Zutaten</h3>
            <p><pre>{{ rezept.zutaten }}</pre></p>
            <h3>Kochanleitung</h3>
            <p><pre>{{ rezept.kochanleitung }}</pre></p>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <h2>Kommentare erfassen</h2>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.Kommentar.label(class="form-control-label") }}
                    {{ form.Kommentar(class="form-control", size=32) }}
                    {% for error in form.Kommentar.errors %}
                        <span style="color: red">[{{ error }}]</span>
                    {% endfor %}
                </div>
                {{ form.submit(class="btn btn-primary") }}
            </form>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-6">
            <h2>Kommentare</h2>
            {% for kommentar, benutzername in kommentare %}
                <div class="card mb-3">
                    <div class="card-header">
                        {{ benutzername }} - {{ kommentar.datum_erstellung }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ kommentar.kommentar }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

</div>
</body>
</html>